.main {
  height: 100vh;
}
df-messenger {
  --df-messenger-bot-message: #560000;
  --df-messenger-button-titlebar-color: #560000;
  /* --df-messenger-chat-background-color: #e6e5e5; */
  --df-messenger-font-color: white;
  --df-messenger-send-icon: #560000;
  /* --df-messenger-user-message: #479b3d; */
  --df-messenger-user-message: #ba3d00;
}
